{% extends "base.html" %}

{% block content %}
<h1>{% if object %}Update Alert{% else %}New Alert{% endif %}</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% if object %}Update{%else%}Create{%endif%}">
    <a href="{% url 'alerts_list' %}">Cancel</a>   
</form>
{% endblock content %}