{% extends "base.html" %}

{% block content %}
<h1>Delete Alert?</h1>
<p>Are you sure want to delete this alert?</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
    <a href="{% url 'alerts_list' %}">Cancel</a>
</form>
{% endblock content %}