<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Djagios</title>

    <style type="text/css" media="all">
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <ul>
        <li><a href="{% url 'status' %}">Home</a></li>
        <li><a href="{% url 'alerts_list' %}">Alerts</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>
